<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
    <h1>ልኬቶን ያስገቡ</h1>

                        <input type="text" class="form-control" placeholder="ቁመት" id="name" aria-describedby="basic-addon1" />
                        <input type="text" class="form-control" placeholder="ወገብ" id="comment" aria-describedby="basic-addon1" />
                    <button type="button" class="btn btn-dark"><a href="/">ተመለስ</a></button>
                    <button type="button" class="btn btn-dark"><a href="/enter">እዘዝ</a></button>
    
</body>
</html>